
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Passion+One:wght@700&display=swap');
body{font-family: 'Roboto', sans-serif;}


.texto_italic {

    font-style: italic;
}

.Donar {
    font-weight: 600;
    color: rgb(233, 153, 4);
}


.texto_destacado {

    font-weight: 800 ;
}

.p_1 {

    text-decoration: none;
}

.h2-1 {
    font-weight: 400;
    font-weight: lighter;
}

.h2 {
  
    font-weight: lighter;
    text-align: center;
    justify-content: center;

    
}

.h3 {
    font-weight: lighter;
   
    

}
.wwf {
    padding-top: 50%;
    font-weight: 700 bolder;
    text-align: center;
    justify-content: center;

}

.hazte_socio {
    
    font-weight: lighter;
}


.container {
    text-align: center;
    justify-content: center;
}

.card {
    width: 400px;
    height: 250px;

    
}