
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 204, 11);
    margin: 0;
    padding: 0;
   
}



.texto_italic {

    font-style: italic;
}

.Donar {
    font-weight: 600;
    color: rgb(233, 153, 4);
}


.texto_destacado {

    font-weight: 800 ;
}

.p {

    text-decoration: none;
}

h2  {
    padding-top: 250px;
    font-weight: 400;
    font-weight: lighter;
   



  
    
    text-align: center;
    justify-content: center;
   

        
}




 }       


	a:hover {
        color: rgb(233, 153, 4);


    }


.zorro {

    padding-top: 250px;
    border-radius: 100px;
}


.oso {

    padding-top: 80px;
    border-radius: 100px;
}
h3 {
    font-weight: 500;
    padding-bottom: 20px;
   
    

}
.wwf {
    padding-top: 150px;
    font-weight: 700 bolder;
    text-align: center;
    justify-content: center;

}

.hazte_socio {
    
    font-weight: lighter;
}



.card {
    width: 400px;
    height: 250px;
    overflow:hidden;

    
}

.zorro:hover {
    
    -webkit-transform:scale(1.3);transform:scale(1.1);
    justify-content: center;
    text-align: center;
    border-radius: 100px;

}

.oso:hover {
    
    -webkit-transform:scale(1.3);transform:scale(1.1);
    justify-content: center;
    text-align: center;

}


.v {

    padding-top: 30px;

}


.icono {

    padding-top: 250px;
    padding-bottom: 250px;
    width: 280px;
    height: 280px;
    
    text-align: center;
    justify-content: center;

}



.nuestro {

    text-align: center;
    justify-content: center;
    font-weight: lighter ;
    margin-right: 50px;
    
}

.hazte {
    margin-top: 50px;
    float: right;
    background-color: teal;
    text-align: center;
    justify-content: center;
    margin-right: 250px;
    margin-bottom: 10px;


    }

    .btn {
        text-align: center;
        justify-content: center;

    }


.panda_1 {

    width: 400px;
    height: 400px;
    padding-right: 65px;
}



.panda_f  {

   
    
    width: 125px;
    height: 125px;
    padding-top: 200px;
    padding-bottom: 400px;
    margin: 0 auto;
    margin-right: 500px;
  
   
    


}


.panda_bottom {
  padding-left: 300px;
  
}


.en_wwf {

     justify-content: center;
     text-align: center;
   font-weight: lighter;
}

.espacio {

    margin-right: 20px;
}


  




 .navbar-expand-lg{
     color: white;


 }

 .navbar-light {color: white;}



 .bg-light{color: white;}





.hola {

    margin-top: 500px;
}















































































 














    /* footer */
    



    footer {
        background:#311f03;
        background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
        background: linear-gradient(59deg, #3A6073, #16222A);
        color: white;
        margin-top:100px;
      }
      
      footer a {
        color: #fff;
        font-size: 14px;
        transition-duration: 0.2s;
      }
      
      footer a:hover {
        color: #FA944B;
        text-decoration: none;
      }
      
      .copy {
        font-size: 12px;
        padding: 10px;
        border-top: 1px solid #FFFFFF;
      }
      
      .footer-middle {
        padding-top: 2em;
        color: white;
      }
      
      
     
      
      ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
      }
      
      ul.social-network li {
        display: inline;
        margin: 0 5px;
      }
      
      
    
      
      .social-network a.icoFacebook:hover {
        background-color: #3B5998;
      }
      
      .social-network a.icoLinkedin:hover {
        background-color: #007bb7;
      }
      
      .social-network a.icoFacebook:hover i,
      .social-network a.icoLinkedin:hover i {
        color: #fff;
      }
      
      .social-network a.socialIcon:hover,
      .socialHoverClass {
        color: #44BCDD;
      }
      
      .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
      }
      
      .social-circle li i {
        margin: 0;
        line-height: 30px;
        text-align: center;
      }
      
      .social-circle li a:hover i,
      .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
      }
      
      .social-circle i {
        color: #595959;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
      }
      
      .social-network a {
        background-color: #F9F9F9;
      }

      .mainfooter {

        padding-top: 25px;


      }

      @media only screen and (max-width: 300px) and (min-width: 800px){

        .zorro:hover {
    
            -webkit-transform:scale(1.3);transform:scale(1.1);
            justify-content: center;
            text-align: center;
            
        
        }
        
        .oso:hover {
            
            -webkit-transform:scale(1.3);transform:scale(1.1);
            justify-content: center;
            text-align: center;
            margin-bottom: 200px;
        


      }
 
      /* <div class="bd-example slide">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block w-100 selva img-fluid" src="assets/img/selva.jpg" alt="First slide [900x300]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22900%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20900%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_172be6fc1c0%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A45pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_172be6fc1c0%22%3E%3Crect%20width%3D%22900%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22308.2890625%22%20y%3D%22170.1%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            <div class="carousel-caption d-none d-md-block">
              <h3> <span class="texto_destacado">Selva Amazonica</span> </h3>
            <p>  <a class="p" href="#">Amazonas en peligro</a> </p>
            </div>
          </div>
            <img class="d-block w-100 koala img-fluid" src="assets/img/koala.jpg" alt="Second slide [900x300]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22900%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20900%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_172be6fc1c2%20text%20%7B%20fill%3A%23444%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A45pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_172be6fc1c2%22%3E%3Crect%20width%3D%22900%22%20height%3D%22300%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22264.9453125%22%20y%3D%22170.1%22%3ESecond%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            <div class="carousel-caption d-none d-md-block">
          <div class="carousel-item">
              <h3>Animales en peligro</h3>
              <p>Cada vez quedan menos ejemplares.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev " href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div> */